

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

p {
    font-size: 2rem;
}

button {
    display:block;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content:center;
   
}

    button.blue {
        background-color: blue;
    }

    button.green {
        background-color: green;
    }

    button.orange {
        background-color: orangered;
    }
    button.red {
        background-color: red;
    }
  