button{

    border-radius:10px;
    padding:10px 10px 10px 10px ;
    cursor:pointer;
    border:none;
    display:block;

}
p{
    font-size:20px;
    justify-content:center;
    align-items:center;
    color:blue;
}

body {
     height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}