button{

    border-radius:50px;
    padding:10px 10px 10px 10px ;
    cursor:pointer;
    border:none;
    display:inline-block;

}
p {
    font-size: 20px;
    color: black;
}

body {
    display: block;
    justify-content: center;
    color: black;
    align-items: center;
    font-family: 'Calibri';
    padding-block-start:20px;
}